[Unit]
Description=Agent Service
After=network.target

[Service]
ExecStart=/opt/agent/agent -f /opt/agent/config.jsom
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
