[Unit]
Description=Bot Service
After=network.target

[Service]
ExecStart=/opt/bot/bot/bot -f /opt/bot/bot/config.json
Restart=always

[Install]
WantedBy=multi-user.target
